@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300;500&family=Voltaire&display=swap');
/* 
font-family: 'Julius Sans One', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Voltaire', sans-serif;
 */

body {
  font-family: "Lato", sans-serif;
  background: rgb(255, 255, 255);
}

.header, .footer {
  background-image: linear-gradient(#FFCF00, rgba(241, 133, 227, 0.733));
  color: rgb(0, 0, 0);
  padding: 2rem;
  text-align: center;
}
.header a, .footer a {
  color: rgb(0, 0, 0);
}
.header  img{
  width:9rem;
}
@media (min-width: 768px) {
  .header, .footer {
    padding: 100px 30px;
  }
}
.header h1, .footer h1 {
  font-size: 4em;
  font-weight: 300;
}
.header i.fa, .footer i.fa {
  font-size: 4em;
}
.header .bounce, .footer .bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.header .animated, .footer .animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.section {
  width: 100%;
  position: relative;
}
.section .left, .section .middle, .section .right {
  width: 100%;
  display: block;
  color: #fff;
  box-sizing: border-box;
  left: 0;
  padding: 30px;
  text-align: center;
  overflow: hidden;
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  transition: .8s ease-in-out all;
}
.section .animate .middle h2{
  color: rgb(187, 59, 59);

}
@media (min-width: 480px) {
  .section .left .content, .section .middle .content, .section .right .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (min-width: 480px) {
  .section .left, .section .middle, .section .right {
    width: 50%;
    font-size: 0.9em;
    padding: 10px;
    left: 0;
    float: left;
    position: absolute;
  }
}
@media (min-width: 768px) {
  .section .left, .section .middle, .section .right {
    width: 33.33333%;
    left: 33.33%;
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .section .left, .section .middle, .section .right {
    padding: 30px;
    font-size: 1em;
  }
}
.section.animate .left {
  left: 0;
}
@media (min-width: 480px) {
  .section.animate .left {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .section.animate .left {
    left: 0;
  }
}
.section.animate .right {
  left: 0;
}
@media (min-width: 480px) {
  .section.animate .right {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .section.animate .right {
    left: 66.66%;
  }
}
.section .title {
  background: #98182E;
}
.section .title h2 {
  margin-top: 0;
}
.section .title p {
  line-height: 1.55em;
  margin-bottom: 0.75em;
}
.section .title .btn-primary {
  font-family: 'Lobster', cursive;
  color: #FFBA08;
  background: black;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  -moz-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  box-shadow: 5px 10px #FFBA08;
}
.section .title .btn-primary:hover {
  background: #FFBA08;
  color:black;
  box-shadow: 5px 10px black;

}
.section .tiles {
  padding: 0;
  background: #fff;
  clear: both;
  display: none;
  float: none;
}
.section .tiles img {
  width: 50%;
  float: left;
  height: auto;
  opacity: 0.7;
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.section .tiles img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}
@media (min-width: 768px) {
  .section .tiles {
    display: block;
  }
}
.section .middle {
  background: slategray;
  z-index: 2;
  padding: 0;
}
.section .middle img {
  width: 100%;
  height: auto;
  display: block;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}








#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;}
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}
#parallax-world-of-ugg h3 {font-family:'Oswald', sans-serif; font-size:14px; line-height:0; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
#parallax-world-of-ugg p {font-family:'Source Sans Pro', sans-serif; font-weight:400; font-size:14px; line-height:24px;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  height:100vh;
  background-image: url(https://img.freepik.com/free-photo/retro-living-room-interior-design_53876-145503.jpg?w=996&t=st=1660375730~exp=1660376330~hmac=27886fc18285294645bcbc1b86251d97cc1729a1ef8300fee5cdc6e9cee5da54);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
  padding:9rem 5rem 5rem 5rem;
}
#parallax-world-of-ugg .title p {
  color:white;
  text-transform: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size:3rem;
}
#parallax-world-of-ugg .title h1 {
  color:white;
  text-transform: lowercase;
  font-family: 'Lobster', cursive;
  font-size:8rem;
}
#parallax-world-of-ugg .title h1 span{
  color:black;
}
#parallax-world-of-ugg .title h3 {
  text-transform: none;
  font-family: 'Voltaire', sans-serif;
  font-size:2rem;
  color:white;
}
#parallax-world-of-ugg .title img {
  padding:2rem;
  height:15rem;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {height:100vh; padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://img.freepik.com/free-photo/yellow-sofa-wooden-table-living-room-interior-with-plant-dark-blue-wall-3d-rendering_41470-3853.jpg?w=900&t=st=1660287470~exp=1660288070~hmac=5f2b29dff079ad378c07aba890d45acbad19fe1d768626078cb7d796c0d960c7); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: bottom center;}
#parallax-world-of-ugg .parallax-two {height:100vh; padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://img.freepik.com/free-photo/cabinet-tv-modern-living-room-with-armchair-lamp-table-flower-plant-concrete-wall-background-3d-rendering_41470-3344.jpg?w=1060&t=st=1660377981~exp=1660378581~hmac=97c04f9b97bbe60859a4c96759617c3d8ff4875d29def64f78952257cea764e9); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: bottom center;}
#parallax-world-of-ugg .parallax-three {height:100vh; padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://img.freepik.com/free-photo/living-room-loft-industrial-style-with-blue-sofa-empty-concrete-wall-3d-rendering_41470-3581.jpg?w=1380&t=st=1660378018~exp=1660378618~hmac=7d79c95fe1d367c4832082a07a12bc8e3bdedd17e5e573d88e2dfef1b53e8917); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: bottom center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
  #parallax-world-of-ugg .title p {
    color:white;
    text-transform: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size:2rem;
  }
  #parallax-world-of-ugg .title h1 {
    color:white;
    text-transform: lowercase;
    font-family: 'Lobster', cursive;
    font-size:6rem;
  }
  #parallax-world-of-ugg .title h1 span{
    color:black;
  }
  #parallax-world-of-ugg .title h3 {
    text-transform: none;
    font-family: 'Voltaire', sans-serif;
    font-size:2rem;
    color:white;
  }
  #parallax-world-of-ugg .title img {
    padding:2rem;
    height:10rem;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
  #parallax-world-of-ugg .title p {
    color:white;
    text-transform: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size:2rem;
  }
  #parallax-world-of-ugg .title h1 {
    color:white;
    text-transform: lowercase;
    font-family: 'Lobster', cursive;
    font-size:4rem;
  }
  #parallax-world-of-ugg .title h1 span{
    color:black;
  }
  #parallax-world-of-ugg .title h3 {
    text-transform: none;
    font-family: 'Voltaire', sans-serif;
    font-size:2rem;
    color:white;
  }

}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
  #parallax-world-of-ugg .title p {
    color:white;
    text-transform: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size:1rem;
  }
  #parallax-world-of-ugg .title h1 {
    color:white;
    text-transform: lowercase;
    font-family: 'Lobster', cursive;
    font-size:3rem;
  }
  #parallax-world-of-ugg .title h1 span{
    color:black;
  }
  #parallax-world-of-ugg .title h3 {
    text-transform: none;
    font-family: 'Voltaire', sans-serif;
    font-size:0.6rem;
    color:white;
  }
}

@media screen and (max-width: 320px) {
  #parallax-world-of-ugg .block {padding: 10px 15px; width:290px;}
  #parallax-world-of-ugg .title p {
    color:white;
    text-transform: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size:1rem;
  }
  #parallax-world-of-ugg .title h1 {
    color:white;
    text-transform: lowercase;
    font-family: 'Lobster', cursive;
    font-size:1.9rem;
  }
  #parallax-world-of-ugg .title h1 span{
    color:black;
  }
  #parallax-world-of-ugg .title h3 {
    text-transform: none;
    font-family: 'Voltaire', sans-serif;
    font-size:1rem;
    color:white;
  }
}








.container {
  background-color: rgb(196, 156, 156);
}

